<div class="container1">
    <h1 class="text-center mb-5 border-bottom border-2 border-dark">Employee Profile</h1>
    <div>
        <div class="card-body">
            <h5 class="card-title mb-2">Employee Name: {{employee.empName}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Position: {{employee.position}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Date of Joining: {{employee.joiningDate |
                date:'dd/MM/yyyy'}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Status: {{employee.status}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Email: {{employee.email}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">PhoneNo: {{employee.phoneNo}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">EmpCity: {{employee.empCity}}</h6>
        </div>
    </div>
</div>